USE [QuanLyTreEm]
GO
/****** Object:  Table [dbo].[ChiPhiSuKien]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiPhiSuKien](
	[ChiPhiID] [int] IDENTITY(1,1) NOT NULL,
	[TenKhoanChi] [nvarchar](200) NULL,
	[SoTien] [decimal](18, 2) NULL,
	[GhiChu] [nvarchar](300) NULL,
	[SuKienID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChiPhiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietChiPhiSuKien]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietChiPhiSuKien](
	[ChiTietChiPhi] [int] IDENTITY(1,1) NOT NULL,
	[TenPhanQua] [nvarchar](20) NULL,
	[NguoiDaiDien] [nvarchar](200) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
	[ChiPhiID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChiTietChiPhi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietLichTrong]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietLichTrong](
	[ChiTietLichTrongID] [int] IDENTITY(1,1) NOT NULL,
	[Buoi] [nvarchar](15) NULL,
	[Thu] [nvarchar](15) NULL,
	[LichTrongID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ChiTietLichTrongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKySuKien]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKySuKien](
	[DangKySuKienID] [int] IDENTITY(1,1) NOT NULL,
	[SuKienID] [int] NULL,
	[UserID] [int] NULL,
	[NgayDangKy] [date] NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DangKySuKienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoanCanh]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoanCanh](
	[HoanCanhID] [int] IDENTITY(1,1) NOT NULL,
	[LoaiHoanCanh] [nvarchar](100) NULL,
	[MoTa] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[HoanCanhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoTroPhucLoi]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoTroPhucLoi](
	[HoTroID] [int] IDENTITY(1,1) NOT NULL,
	[LoaiHoTro] [nvarchar](100) NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayCap] [date] NULL,
	[NguoiChiuTrachNhiemHoTro] [nvarchar](100) NULL,
	[TreEmID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[HoTroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuPho]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuPho](
	[KhuPhoID] [int] IDENTITY(1,1) NOT NULL,
	[TenKhuPho] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[QuanHuyen] [nvarchar](100) NULL,
	[ThanhPho] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[KhuPhoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichTrong]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichTrong](
	[LichTrongID] [int] IDENTITY(1,1) NOT NULL,
	[TinhNguyenVienID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LichTrongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LopHoc]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LopHoc](
	[LopID] [int] IDENTITY(1,1) NOT NULL,
	[TenLop] [nvarchar](50) NULL,
	[TruongID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManhThuongQuan]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManhThuongQuan](
	[ManhThuongQuanID] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NULL,
	[Loai] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SDT] [nvarchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[GhiChu] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[ManhThuongQuanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[SDT] [nvarchar](12) NULL,
	[Email] [nvarchar](100) NULL,
	[MatKhau] [nvarchar](100) NULL,
	[VaiTro] [nvarchar](50) NULL,
	[NgayTao] [date] NULL,
	[Anh] [varchar](500) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCongTinhNguyenVien]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCongTinhNguyenVien](
	[PhanCongID] [int] IDENTITY(1,1) NOT NULL,
	[SuKienID] [int] NULL,
	[TinhNguyenVienID] [int] NULL,
	[CongViec] [nvarchar](200) NULL,
	[GhiChu] [nvarchar](300) NULL,
	[NgayPhanCong] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PhanCongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuHocTap]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuHocTap](
	[PhieuHocTapID] [int] IDENTITY(1,1) NOT NULL,
	[DiemTrungBinh] [float] NULL,
	[XepLoai] [nvarchar](50) NULL,
	[HanhKiem] [nvarchar](25) NULL,
	[GhiChu] [nvarchar](200) NULL,
	[NgayCapNhat] [date] NULL,
	[TruongID] [int] NULL,
	[TreEmID] [int] NULL,
	[LopID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PhieuHocTapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuMinhChung]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuMinhChung](
	[MinhChungID] [int] IDENTITY(1,1) NOT NULL,
	[LoaiMinhChung] [nvarchar](100) NULL,
	[FilePath] [nvarchar](300) NULL,
	[NgayCap] [date] NULL,
	[HoTroID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MinhChungID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuKien]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuKien](
	[SuKienID] [int] IDENTITY(1,1) NOT NULL,
	[TenSuKien] [nvarchar](200) NULL,
	[NguoiChiuTrachNhiem] [nvarchar](200) NULL,
	[MoTa] [nvarchar](max) NULL,
	[DiaDiem] [nvarchar](200) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[SoLuongTinhNguyenVien] [int] NULL,
	[SoLuongTreEm] [int] NULL,
	[UserID] [int] NULL,
	[KhuPhoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SuKienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThoiGianChiTietSuKien]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThoiGianChiTietSuKien](
	[ThoiGianChiTietSuKienID] [int] IDENTITY(1,1) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[ThoiGianBatDau] [datetime] NULL,
	[ThoiGianKetThuc] [datetime] NULL,
	[SuKienID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ThoiGianChiTietSuKienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao](
	[ThongBaoID] [int] IDENTITY(1,1) NOT NULL,
	[SuKienID] [int] NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayThongBao] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ThongBaoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBao_NguoiDung]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBao_NguoiDung](
	[ThongBaoID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[DaDoc] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ThongBaoID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinPhuHuynh]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinPhuHuynh](
	[PhuHuynhID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[SDT] [nvarchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[NgheNghiep] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[TonGiao] [nvarchar](20) NULL,
	[DanToc] [nvarchar](20) NULL,
	[QuocTich] [nvarchar](30) NULL,
	[UserID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PhuHuynhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TietMucSuKien]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TietMucSuKien](
	[TietMucID] [int] IDENTITY(1,1) NOT NULL,
	[TenTietMuc] [nvarchar](100) NULL,
	[NguoiThucHien] [nvarchar](100) NULL,
	[ChiPhiTietMuc] [decimal](18, 2) NULL,
	[ThoiGianChiTietSuKienID] [int] NULL,
	[SuKienId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TietMucID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinhNguyenVien]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinhNguyenVien](
	[TinhNguyenVienID] [int] IDENTITY(1,1) NOT NULL,
	[SDT] [nvarchar](15) NULL,
	[NgaySinh] [date] NULL,
	[ChucVu] [nvarchar](100) NULL,
	[UserID] [int] NULL,
	[KhuPhoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TinhNguyenVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TreEm]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreEm](
	[TreEmID] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[TonGiao] [nvarchar](20) NULL,
	[DanToc] [nvarchar](20) NULL,
	[QuocTich] [nvarchar](30) NULL,
	[Anh] [varchar](500) NULL,
	[TruongID] [int] NULL,
	[TinhTrang] [nvarchar](100) NULL,
	[KhuPhoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TreEmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TreEm_HoanCanh]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreEm_HoanCanh](
	[TreEmID] [int] NOT NULL,
	[HoanCanhID] [int] NOT NULL,
	[NgayCapNhat] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[TreEmID] ASC,
	[HoanCanhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TreEm_PhuHuynh]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreEm_PhuHuynh](
	[TreEmID] [int] NOT NULL,
	[PhuHuynhID] [int] NOT NULL,
	[MoiQuanHe] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TreEmID] ASC,
	[PhuHuynhID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TreEm_SuKien]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TreEm_SuKien](
	[TreEmID] [int] NOT NULL,
	[SuKienID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TreEmID] ASC,
	[SuKienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TruongHoc]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TruongHoc](
	[TruongID] [int] IDENTITY(1,1) NOT NULL,
	[TenTruong] [nvarchar](200) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[CapHoc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TruongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UngHo]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UngHo](
	[UngHoID] [int] IDENTITY(1,1) NOT NULL,
	[SoTien] [decimal](18, 2) NULL,
	[LoaiUngHo] [nvarchar](100) NULL,
	[NgayUngHo] [date] NULL,
	[GhiChu] [nvarchar](300) NULL,
	[ManhThuongQuanID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UngHoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UngHo_HoTroPhucLoi]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UngHo_HoTroPhucLoi](
	[UngHoID] [int] NOT NULL,
	[HoTroID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UngHoID] ASC,
	[HoTroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UngHo_TreEm]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UngHo_TreEm](
	[UngHoID] [int] NOT NULL,
	[TreEmID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UngHoID] ASC,
	[TreEmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VanDongTreEm]    Script Date: 07/11/2025 00:21:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VanDongTreEm](
	[VanDongID] [int] IDENTITY(1,1) NOT NULL,
	[TreEmID] [int] NULL,
	[HoanCanhID] [int] NULL,
	[NguoiDungID] [int] NULL,
	[SoLan] [int] NULL,
	[LyDo] [nvarchar](200) NULL,
	[KetQua] [nvarchar](200) NULL,
	[NgayVanDong] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[VanDongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChiPhiSuKien] ON 

INSERT [dbo].[ChiPhiSuKien] ([ChiPhiID], [TenKhoanChi], [SoTien], [GhiChu], [SuKienID]) VALUES (4, N'Thuê âm thanh', CAST(1500000.00 AS Decimal(18, 2)), N'Sự kiện hè', 4)
INSERT [dbo].[ChiPhiSuKien] ([ChiPhiID], [TenKhoanChi], [SoTien], [GhiChu], [SuKienID]) VALUES (5, N'Mua bánh kẹo', CAST(800000.00 AS Decimal(18, 2)), N'Trung thu', 5)
INSERT [dbo].[ChiPhiSuKien] ([ChiPhiID], [TenKhoanChi], [SoTien], [GhiChu], [SuKienID]) VALUES (6, N'123', CAST(123.00 AS Decimal(18, 2)), N'123', 6)
SET IDENTITY_INSERT [dbo].[ChiPhiSuKien] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietChiPhiSuKien] ON 

INSERT [dbo].[ChiTietChiPhiSuKien] ([ChiTietChiPhi], [TenPhanQua], [NguoiDaiDien], [SoLuong], [DonGia], [ChiPhiID]) VALUES (1, N'Bánh trung thu', N'Nguyễn Văn A', 100, CAST(20000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ChiTietChiPhiSuKien] ([ChiTietChiPhi], [TenPhanQua], [NguoiDaiDien], [SoLuong], [DonGia], [ChiPhiID]) VALUES (2, N'Sách giáo khoa', N'Trần Thị B', 50, CAST(30000.00 AS Decimal(18, 2)), NULL)
INSERT [dbo].[ChiTietChiPhiSuKien] ([ChiTietChiPhi], [TenPhanQua], [NguoiDaiDien], [SoLuong], [DonGia], [ChiPhiID]) VALUES (3, N'Nước suối', N'Lê Văn C', 200, CAST(5000.00 AS Decimal(18, 2)), NULL)
SET IDENTITY_INSERT [dbo].[ChiTietChiPhiSuKien] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietLichTrong] ON 

INSERT [dbo].[ChiTietLichTrong] ([ChiTietLichTrongID], [Buoi], [Thu], [LichTrongID]) VALUES (1, N'Sáng', N'Thứ 2', 1)
INSERT [dbo].[ChiTietLichTrong] ([ChiTietLichTrongID], [Buoi], [Thu], [LichTrongID]) VALUES (2, N'Chiều', N'Thứ 3', 1)
INSERT [dbo].[ChiTietLichTrong] ([ChiTietLichTrongID], [Buoi], [Thu], [LichTrongID]) VALUES (3, N'Sáng', N'Thứ 4', 2)
SET IDENTITY_INSERT [dbo].[ChiTietLichTrong] OFF
GO
SET IDENTITY_INSERT [dbo].[DangKySuKien] ON 

INSERT [dbo].[DangKySuKien] ([DangKySuKienID], [SuKienID], [UserID], [NgayDangKy], [TrangThai]) VALUES (10, 3, 4, CAST(N'2025-11-06' AS Date), N'Đã duyệt')
INSERT [dbo].[DangKySuKien] ([DangKySuKienID], [SuKienID], [UserID], [NgayDangKy], [TrangThai]) VALUES (11, 3, 1, CAST(N'2025-11-06' AS Date), N'Chờ duyệt')
INSERT [dbo].[DangKySuKien] ([DangKySuKienID], [SuKienID], [UserID], [NgayDangKy], [TrangThai]) VALUES (12, 2, 1, CAST(N'2025-11-06' AS Date), N'Chờ duyệt')
SET IDENTITY_INSERT [dbo].[DangKySuKien] OFF
GO
SET IDENTITY_INSERT [dbo].[HoanCanh] ON 

INSERT [dbo].[HoanCanh] ([HoanCanhID], [LoaiHoanCanh], [MoTa]) VALUES (1, N'Hộ nghèo', N'Gia đình thuộc diện hộ nghèo')
INSERT [dbo].[HoanCanh] ([HoanCanhID], [LoaiHoanCanh], [MoTa]) VALUES (2, N'Mồ côi cha', N'Mất cha từ nhỏ')
INSERT [dbo].[HoanCanh] ([HoanCanhID], [LoaiHoanCanh], [MoTa]) VALUES (3, N'Mồ côi mẹ', N'Mất mẹ sớm')
SET IDENTITY_INSERT [dbo].[HoanCanh] OFF
GO
SET IDENTITY_INSERT [dbo].[HoTroPhucLoi] ON 

INSERT [dbo].[HoTroPhucLoi] ([HoTroID], [LoaiHoTro], [MoTa], [NgayCap], [NguoiChiuTrachNhiemHoTro], [TreEmID]) VALUES (1, N'Học bổng', N'Hỗ trợ học tập', CAST(N'2025-11-06' AS Date), N'Nguyễn Văn A', 1)
INSERT [dbo].[HoTroPhucLoi] ([HoTroID], [LoaiHoTro], [MoTa], [NgayCap], [NguoiChiuTrachNhiemHoTro], [TreEmID]) VALUES (2, N'Trang phục', N'Phát quần áo', CAST(N'2025-11-06' AS Date), N'Trần Thị B', 2)
INSERT [dbo].[HoTroPhucLoi] ([HoTroID], [LoaiHoTro], [MoTa], [NgayCap], [NguoiChiuTrachNhiemHoTro], [TreEmID]) VALUES (3, N'Quà tết', N'Tặng bánh kẹo', CAST(N'2025-11-06' AS Date), N'Lê Văn C', 3)
SET IDENTITY_INSERT [dbo].[HoTroPhucLoi] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuPho] ON 

INSERT [dbo].[KhuPho] ([KhuPhoID], [TenKhuPho], [DiaChi], [QuanHuyen], [ThanhPho]) VALUES (1, N'Khu phố 1', N'123 Lê Lợi', N'Quận 1', N'Hồ Chí Minh')
INSERT [dbo].[KhuPho] ([KhuPhoID], [TenKhuPho], [DiaChi], [QuanHuyen], [ThanhPho]) VALUES (2, N'Khu phố 2', N'45 Hai Bà Trưng', N'Quận 3', N'Hồ Chí Minh')
INSERT [dbo].[KhuPho] ([KhuPhoID], [TenKhuPho], [DiaChi], [QuanHuyen], [ThanhPho]) VALUES (3, N'Khu phố 3', N'78 Nguyễn Huệ', N'Quận 1', N'Hồ Chí Minh')
SET IDENTITY_INSERT [dbo].[KhuPho] OFF
GO
SET IDENTITY_INSERT [dbo].[LichTrong] ON 

INSERT [dbo].[LichTrong] ([LichTrongID], [TinhNguyenVienID]) VALUES (1, 1)
INSERT [dbo].[LichTrong] ([LichTrongID], [TinhNguyenVienID]) VALUES (2, 2)
INSERT [dbo].[LichTrong] ([LichTrongID], [TinhNguyenVienID]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[LichTrong] OFF
GO
SET IDENTITY_INSERT [dbo].[LopHoc] ON 

INSERT [dbo].[LopHoc] ([LopID], [TenLop], [TruongID]) VALUES (1, N'Lớp 1A', 1)
INSERT [dbo].[LopHoc] ([LopID], [TenLop], [TruongID]) VALUES (2, N'Lớp 2B', 2)
INSERT [dbo].[LopHoc] ([LopID], [TenLop], [TruongID]) VALUES (3, N'Lớp 3C', 3)
SET IDENTITY_INSERT [dbo].[LopHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[ManhThuongQuan] ON 

INSERT [dbo].[ManhThuongQuan] ([ManhThuongQuanID], [Ten], [Loai], [DiaChi], [SDT], [Email], [GhiChu]) VALUES (1, N'Nguyễn Mạnh Hùng', N'Cá nhân', N'Q1, TP.HCM', N'0911111111', N'hung@gmail.com', N'Hay ủng hộ học sinh nghèo')
INSERT [dbo].[ManhThuongQuan] ([ManhThuongQuanID], [Ten], [Loai], [DiaChi], [SDT], [Email], [GhiChu]) VALUES (2, N'Công ty ABC', N'Tổ chức', N'Q3, TP.HCM', N'0922222222', N'abc@company.com', N'Tài trợ quỹ thiếu nhi')
INSERT [dbo].[ManhThuongQuan] ([ManhThuongQuanID], [Ten], [Loai], [DiaChi], [SDT], [Email], [GhiChu]) VALUES (3, N'Nguyễn Thị Lan', N'Cá nhân', N'Q5, TP.HCM', N'0933333333', N'lan@gmail.com', N'Tài trợ quần áo')
SET IDENTITY_INSERT [dbo].[ManhThuongQuan] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([UserID], [HoTen], [SDT], [Email], [MatKhau], [VaiTro], [NgayTao], [Anh], [TrangThai]) VALUES (1, N'Nguyễn Văn A', N'0909123456', N'a@gmail.com', N'123', N'Admin', CAST(N'2024-10-20' AS Date), N'/Anh/NguoiDung/hinh1.jpg', N'Đang hoạt động')
INSERT [dbo].[NguoiDung] ([UserID], [HoTen], [SDT], [Email], [MatKhau], [VaiTro], [NgayTao], [Anh], [TrangThai]) VALUES (2, N'Trần Thị B', N'0909234567', N'b@gmail.com', N'123', N'Tình nguyện viên', CAST(N'2024-10-20' AS Date), N'/Anh/NguoiDung/hinh2.jpg', N'Ngưng hoạt động')
INSERT [dbo].[NguoiDung] ([UserID], [HoTen], [SDT], [Email], [MatKhau], [VaiTro], [NgayTao], [Anh], [TrangThai]) VALUES (3, N'Lê Văn C', N'0909345678', N'c@gmail.com', N'123', N'Phụ huynh', CAST(N'2023-10-20' AS Date), N'/Anh/NguoiDung/hinh3.jpg', N'Đang hoạt động')
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanCongTinhNguyenVien] ON 

INSERT [dbo].[PhanCongTinhNguyenVien] ([PhanCongID], [SuKienID], [TinhNguyenVienID], [CongViec], [GhiChu], [NgayPhanCong]) VALUES (1, 1, 1, N'Phát quà', N'Đảm nhiệm khu A', CAST(N'2025-11-06' AS Date))
INSERT [dbo].[PhanCongTinhNguyenVien] ([PhanCongID], [SuKienID], [TinhNguyenVienID], [CongViec], [GhiChu], [NgayPhanCong]) VALUES (2, 1, 2, N'Trông trẻ', N'Khu vực B', CAST(N'2025-11-06' AS Date))
INSERT [dbo].[PhanCongTinhNguyenVien] ([PhanCongID], [SuKienID], [TinhNguyenVienID], [CongViec], [GhiChu], [NgayPhanCong]) VALUES (3, 2, 3, N'Chuẩn bị sân khấu', N'Buổi sáng', CAST(N'2025-11-06' AS Date))
SET IDENTITY_INSERT [dbo].[PhanCongTinhNguyenVien] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuHocTap] ON 

INSERT [dbo].[PhieuHocTap] ([PhieuHocTapID], [DiemTrungBinh], [XepLoai], [HanhKiem], [GhiChu], [NgayCapNhat], [TruongID], [TreEmID], [LopID]) VALUES (1, 8.5, N'Giỏi', N'Tốt', N'Hoàn thành tốt', CAST(N'2025-11-06' AS Date), 1, 1, 1)
INSERT [dbo].[PhieuHocTap] ([PhieuHocTapID], [DiemTrungBinh], [XepLoai], [HanhKiem], [GhiChu], [NgayCapNhat], [TruongID], [TreEmID], [LopID]) VALUES (2, 7.2, N'Khá', N'Tốt', N'Tích cực', CAST(N'2025-11-06' AS Date), 2, 2, 2)
INSERT [dbo].[PhieuHocTap] ([PhieuHocTapID], [DiemTrungBinh], [XepLoai], [HanhKiem], [GhiChu], [NgayCapNhat], [TruongID], [TreEmID], [LopID]) VALUES (3, 6.8, N'Trung bình', N'Khá', N'Cần cố gắng', CAST(N'2025-11-06' AS Date), 3, 3, 3)
SET IDENTITY_INSERT [dbo].[PhieuHocTap] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuMinhChung] ON 

INSERT [dbo].[PhieuMinhChung] ([MinhChungID], [LoaiMinhChung], [FilePath], [NgayCap], [HoTroID]) VALUES (1, N'Hóa đơn', N'/files/hoa_don1.pdf', CAST(N'2025-11-06' AS Date), 1)
INSERT [dbo].[PhieuMinhChung] ([MinhChungID], [LoaiMinhChung], [FilePath], [NgayCap], [HoTroID]) VALUES (2, N'Ảnh', N'/files/anh1.jpg', CAST(N'2025-11-06' AS Date), 2)
INSERT [dbo].[PhieuMinhChung] ([MinhChungID], [LoaiMinhChung], [FilePath], [NgayCap], [HoTroID]) VALUES (3, N'Giấy biên nhận', N'/files/biennhan1.pdf', CAST(N'2025-11-06' AS Date), 3)
SET IDENTITY_INSERT [dbo].[PhieuMinhChung] OFF
GO
SET IDENTITY_INSERT [dbo].[SuKien] ON 

INSERT [dbo].[SuKien] ([SuKienID], [TenSuKien], [NguoiChiuTrachNhiem], [MoTa], [DiaDiem], [NgayBatDau], [NgayKetThuc], [SoLuongTinhNguyenVien], [SoLuongTreEm], [UserID], [KhuPhoID]) VALUES (1, N'Sự kiện trung thu', N'Nguyễn Văn A', N'Phát quà cho trẻ em', N'Khu phố 1', CAST(N'2025-10-20' AS Date), CAST(N'2025-10-21' AS Date), 10, 100, 1, 1)
INSERT [dbo].[SuKien] ([SuKienID], [TenSuKien], [NguoiChiuTrachNhiem], [MoTa], [DiaDiem], [NgayBatDau], [NgayKetThuc], [SoLuongTinhNguyenVien], [SoLuongTreEm], [UserID], [KhuPhoID]) VALUES (2, N'Hội trại hè', N'Trần Thị B', N'Tổ chức vui chơi cho trẻ', N'Khu phố 2', CAST(N'2025-10-22' AS Date), CAST(N'2025-10-23' AS Date), 15, 80, 2, 2)
INSERT [dbo].[SuKien] ([SuKienID], [TenSuKien], [NguoiChiuTrachNhiem], [MoTa], [DiaDiem], [NgayBatDau], [NgayKetThuc], [SoLuongTinhNguyenVien], [SoLuongTreEm], [UserID], [KhuPhoID]) VALUES (3, N'Lễ phát quà tết', N'Lê Văn C', N'Phát quà tết cho trẻ khó khăn 123', N'Khu phố 3', CAST(N'2025-10-24' AS Date), CAST(N'2025-10-25' AS Date), 8, 50, 3, 3)
SET IDENTITY_INSERT [dbo].[SuKien] OFF
GO
SET IDENTITY_INSERT [dbo].[ThoiGianChiTietSuKien] ON 

INSERT [dbo].[ThoiGianChiTietSuKien] ([ThoiGianChiTietSuKienID], [MoTa], [ThoiGianBatDau], [ThoiGianKetThuc], [SuKienID]) VALUES (1, N'Buổi sáng trung thu', CAST(N'2025-10-20T08:00:00.000' AS DateTime), CAST(N'2025-10-20T11:00:00.000' AS DateTime), 1)
INSERT [dbo].[ThoiGianChiTietSuKien] ([ThoiGianChiTietSuKienID], [MoTa], [ThoiGianBatDau], [ThoiGianKetThuc], [SuKienID]) VALUES (2, N'Buổi chiều trung thu', CAST(N'2025-10-20T14:00:00.000' AS DateTime), CAST(N'2025-10-20T17:00:00.000' AS DateTime), 1)
INSERT [dbo].[ThoiGianChiTietSuKien] ([ThoiGianChiTietSuKienID], [MoTa], [ThoiGianBatDau], [ThoiGianKetThuc], [SuKienID]) VALUES (3, N'Lễ khai mạc hội trại', CAST(N'2025-10-22T09:00:00.000' AS DateTime), CAST(N'2025-10-22T11:00:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[ThoiGianChiTietSuKien] OFF
GO
SET IDENTITY_INSERT [dbo].[ThongBao] ON 

INSERT [dbo].[ThongBao] ([ThongBaoID], [SuKienID], [NoiDung], [NgayThongBao]) VALUES (1, 1, N'Thông báo phát quà trung thu', CAST(N'2025-11-06' AS Date))
INSERT [dbo].[ThongBao] ([ThongBaoID], [SuKienID], [NoiDung], [NgayThongBao]) VALUES (2, 2, N'Thông báo hội trại hè', CAST(N'2025-11-06' AS Date))
INSERT [dbo].[ThongBao] ([ThongBaoID], [SuKienID], [NoiDung], [NgayThongBao]) VALUES (3, 3, N'Thông báo lễ phát quà tết', CAST(N'2025-11-06' AS Date))
SET IDENTITY_INSERT [dbo].[ThongBao] OFF
GO
INSERT [dbo].[ThongBao_NguoiDung] ([ThongBaoID], [UserID], [DaDoc]) VALUES (1, 1, 0)
INSERT [dbo].[ThongBao_NguoiDung] ([ThongBaoID], [UserID], [DaDoc]) VALUES (1, 2, 0)
INSERT [dbo].[ThongBao_NguoiDung] ([ThongBaoID], [UserID], [DaDoc]) VALUES (2, 3, 0)
GO
SET IDENTITY_INSERT [dbo].[ThongTinPhuHuynh] ON 

INSERT [dbo].[ThongTinPhuHuynh] ([PhuHuynhID], [HoTen], [SDT], [DiaChi], [NgheNghiep], [NgaySinh], [TonGiao], [DanToc], [QuocTich], [UserID]) VALUES (1, N'Lê Văn Bình', N'0901122334', N'Q1, HCM', N'Công nhân', CAST(N'1980-05-05' AS Date), N'Không', N'Kinh', N'Việt Nam', 3)
INSERT [dbo].[ThongTinPhuHuynh] ([PhuHuynhID], [HoTen], [SDT], [DiaChi], [NgheNghiep], [NgaySinh], [TonGiao], [DanToc], [QuocTich], [UserID]) VALUES (2, N'Trần Thị Hoa', N'0902233445', N'Q2, HCM', N'Giáo viên', CAST(N'1985-03-03' AS Date), N'Phật giáo', N'Kinh', N'Việt Nam', 4)
INSERT [dbo].[ThongTinPhuHuynh] ([PhuHuynhID], [HoTen], [SDT], [DiaChi], [NgheNghiep], [NgaySinh], [TonGiao], [DanToc], [QuocTich], [UserID]) VALUES (3, N'Nguyễn Văn Long', N'0903344556', N'Q3, HCM', N'Lái xe', CAST(N'1978-04-04' AS Date), N'Thiên chúa', N'Kinh', N'Việt Nam', 5)
SET IDENTITY_INSERT [dbo].[ThongTinPhuHuynh] OFF
GO
SET IDENTITY_INSERT [dbo].[TietMucSuKien] ON 

INSERT [dbo].[TietMucSuKien] ([TietMucID], [TenTietMuc], [NguoiThucHien], [ChiPhiTietMuc], [ThoiGianChiTietSuKienID], [SuKienId]) VALUES (27, N'CC', N'CC', CAST(1.00 AS Decimal(18, 2)), 1, 1)
INSERT [dbo].[TietMucSuKien] ([TietMucID], [TenTietMuc], [NguoiThucHien], [ChiPhiTietMuc], [ThoiGianChiTietSuKienID], [SuKienId]) VALUES (29, N'XCV', N'XCV', CAST(2.00 AS Decimal(18, 2)), 1, 2)
INSERT [dbo].[TietMucSuKien] ([TietMucID], [TenTietMuc], [NguoiThucHien], [ChiPhiTietMuc], [ThoiGianChiTietSuKienID], [SuKienId]) VALUES (30, N'BCC', N'BCC', CAST(2.00 AS Decimal(18, 2)), 1, 2)
SET IDENTITY_INSERT [dbo].[TietMucSuKien] OFF
GO
SET IDENTITY_INSERT [dbo].[TinhNguyenVien] ON 

INSERT [dbo].[TinhNguyenVien] ([TinhNguyenVienID], [SDT], [NgaySinh], [ChucVu], [UserID], [KhuPhoID]) VALUES (1, N'0909234567', CAST(N'2000-01-01' AS Date), N'Trưởng nhóm', 2, 1)
INSERT [dbo].[TinhNguyenVien] ([TinhNguyenVienID], [SDT], [NgaySinh], [ChucVu], [UserID], [KhuPhoID]) VALUES (2, N'0909567890', CAST(N'1998-02-02' AS Date), N'Tình nguyện viên', 5, 2)
INSERT [dbo].[TinhNguyenVien] ([TinhNguyenVienID], [SDT], [NgaySinh], [ChucVu], [UserID], [KhuPhoID]) VALUES (3, N'0909999999', CAST(N'2001-03-03' AS Date), N'Tình nguyện viên', 4, 3)
SET IDENTITY_INSERT [dbo].[TinhNguyenVien] OFF
GO
SET IDENTITY_INSERT [dbo].[TreEm] ON 

INSERT [dbo].[TreEm] ([TreEmID], [HoTen], [NgaySinh], [GioiTinh], [TonGiao], [DanToc], [QuocTich], [Anh], [TruongID], [TinhTrang], [KhuPhoID]) VALUES (1, N'Bé Lan 1234', CAST(N'2002-10-15' AS Date), N'Nam', N'Không', N'Kinh', N'Việt Nam', N'/Anh/TreEm/treem_20251106214612979.jpg', 1, N'Khó khăn', 1)
INSERT [dbo].[TreEm] ([TreEmID], [HoTen], [NgaySinh], [GioiTinh], [TonGiao], [DanToc], [QuocTich], [Anh], [TruongID], [TinhTrang], [KhuPhoID]) VALUES (2, N'Bé Tí 123', CAST(N'2013-02-20' AS Date), N'Nam', N'Không', N'Kinh', N'Việt Nam', N'https://localhost:44362/Anh/TreEm/hinh1.jpg', 1, N'Bình thường', 1)
INSERT [dbo].[TreEm] ([TreEmID], [HoTen], [NgaySinh], [GioiTinh], [TonGiao], [DanToc], [QuocTich], [Anh], [TruongID], [TinhTrang], [KhuPhoID]) VALUES (3, N'Bé Hoa', CAST(N'2016-04-10' AS Date), N'Nữ', N'Phật giáo', N'Kinh', N'Việt Nam', N'/Anh/TreEm/hinh1.jpg', 3, N'Mồ côi', 3)
SET IDENTITY_INSERT [dbo].[TreEm] OFF
GO
INSERT [dbo].[TreEm_HoanCanh] ([TreEmID], [HoanCanhID], [NgayCapNhat]) VALUES (1, 1, CAST(N'2025-11-06' AS Date))
INSERT [dbo].[TreEm_HoanCanh] ([TreEmID], [HoanCanhID], [NgayCapNhat]) VALUES (2, 5, CAST(N'2025-11-06' AS Date))
INSERT [dbo].[TreEm_HoanCanh] ([TreEmID], [HoanCanhID], [NgayCapNhat]) VALUES (3, 2, CAST(N'2025-11-06' AS Date))
GO
INSERT [dbo].[TreEm_PhuHuynh] ([TreEmID], [PhuHuynhID], [MoiQuanHe]) VALUES (1, 1, N'Cha')
INSERT [dbo].[TreEm_PhuHuynh] ([TreEmID], [PhuHuynhID], [MoiQuanHe]) VALUES (1, 2, N'Mẹ')
INSERT [dbo].[TreEm_PhuHuynh] ([TreEmID], [PhuHuynhID], [MoiQuanHe]) VALUES (2, 3, N'Cha')
GO
INSERT [dbo].[TreEm_SuKien] ([TreEmID], [SuKienID]) VALUES (3, 4)
INSERT [dbo].[TreEm_SuKien] ([TreEmID], [SuKienID]) VALUES (5, 3)
GO
SET IDENTITY_INSERT [dbo].[TruongHoc] ON 

INSERT [dbo].[TruongHoc] ([TruongID], [TenTruong], [DiaChi], [CapHoc]) VALUES (1, N'Trường Tiểu học A', N'Q1, TP.HCM', N'Tiểu học')
INSERT [dbo].[TruongHoc] ([TruongID], [TenTruong], [DiaChi], [CapHoc]) VALUES (2, N'Trường THCS B', N'Q3, TP.HCM', N'THCS')
INSERT [dbo].[TruongHoc] ([TruongID], [TenTruong], [DiaChi], [CapHoc]) VALUES (3, N'Trường Mầm non C', N'Q5, TP.HCM', N'Mầm non')
SET IDENTITY_INSERT [dbo].[TruongHoc] OFF
GO
SET IDENTITY_INSERT [dbo].[UngHo] ON 

INSERT [dbo].[UngHo] ([UngHoID], [SoTien], [LoaiUngHo], [NgayUngHo], [GhiChu], [ManhThuongQuanID]) VALUES (1, CAST(5000000.00 AS Decimal(18, 2)), N'Tiền mặt', CAST(N'2025-01-01' AS Date), N'Ủng hộ học phí', 1)
INSERT [dbo].[UngHo] ([UngHoID], [SoTien], [LoaiUngHo], [NgayUngHo], [GhiChu], [ManhThuongQuanID]) VALUES (2, CAST(2000000.00 AS Decimal(18, 2)), N'Hiện vật', CAST(N'2025-02-15' AS Date), N'Ủng hộ sách vở', 2)
INSERT [dbo].[UngHo] ([UngHoID], [SoTien], [LoaiUngHo], [NgayUngHo], [GhiChu], [ManhThuongQuanID]) VALUES (3, CAST(3000000.00 AS Decimal(18, 2)), N'Quà tặng', CAST(N'2025-03-10' AS Date), N'Quà trung thu', 3)
SET IDENTITY_INSERT [dbo].[UngHo] OFF
GO
INSERT [dbo].[UngHo_HoTroPhucLoi] ([UngHoID], [HoTroID]) VALUES (1, 1)
INSERT [dbo].[UngHo_HoTroPhucLoi] ([UngHoID], [HoTroID]) VALUES (2, 2)
INSERT [dbo].[UngHo_HoTroPhucLoi] ([UngHoID], [HoTroID]) VALUES (3, 3)
GO
INSERT [dbo].[UngHo_TreEm] ([UngHoID], [TreEmID]) VALUES (1, 1)
INSERT [dbo].[UngHo_TreEm] ([UngHoID], [TreEmID]) VALUES (2, 2)
INSERT [dbo].[UngHo_TreEm] ([UngHoID], [TreEmID]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[VanDongTreEm] ON 

INSERT [dbo].[VanDongTreEm] ([VanDongID], [TreEmID], [HoanCanhID], [NguoiDungID], [SoLan], [LyDo], [KetQua], [NgayVanDong]) VALUES (1, 1, 1, 1, 1, N'Hỗ trợ học phí', N'Đã cấp học bổng', CAST(N'2025-11-06' AS Date))
INSERT [dbo].[VanDongTreEm] ([VanDongID], [TreEmID], [HoanCanhID], [NguoiDungID], [SoLan], [LyDo], [KetQua], [NgayVanDong]) VALUES (2, 2, 5, 2, 1, N'Tham gia trại hè', N'Hoàn thành tốt', CAST(N'2025-11-06' AS Date))
INSERT [dbo].[VanDongTreEm] ([VanDongID], [TreEmID], [HoanCanhID], [NguoiDungID], [SoLan], [LyDo], [KetQua], [NgayVanDong]) VALUES (3, 3, 2, 3, 2, N'Ủng hộ quần áo', N'Đã nhận', CAST(N'2025-11-06' AS Date))
SET IDENTITY_INSERT [dbo].[VanDongTreEm] OFF
GO
/****** Object:  Index [UQ__LichTron__3A613E9A57C0BB2E]    Script Date: 07/11/2025 00:21:03 ******/
ALTER TABLE [dbo].[LichTrong] ADD UNIQUE NONCLUSTERED 
(
	[TinhNguyenVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A9D105349D20758D]    Script Date: 07/11/2025 00:21:03 ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__CA1930A5507EFF3A]    Script Date: 07/11/2025 00:21:03 ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__TinhNguy__1788CCAD28A1F9C5]    Script Date: 07/11/2025 00:21:03 ******/
ALTER TABLE [dbo].[TinhNguyenVien] ADD UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PhanCongTinhNguyenVien] ADD  DEFAULT (getdate()) FOR [NgayPhanCong]
GO
ALTER TABLE [dbo].[ThongBao] ADD  DEFAULT (getdate()) FOR [NgayThongBao]
GO
ALTER TABLE [dbo].[ThongBao_NguoiDung] ADD  DEFAULT ((0)) FOR [DaDoc]
GO
ALTER TABLE [dbo].[VanDongTreEm] ADD  DEFAULT ((1)) FOR [SoLan]
GO
ALTER TABLE [dbo].[VanDongTreEm] ADD  DEFAULT (getdate()) FOR [NgayVanDong]
GO
ALTER TABLE [dbo].[ChiPhiSuKien]  WITH CHECK ADD FOREIGN KEY([SuKienID])
REFERENCES [dbo].[SuKien] ([SuKienID])
GO
ALTER TABLE [dbo].[ChiTietChiPhiSuKien]  WITH CHECK ADD FOREIGN KEY([ChiPhiID])
REFERENCES [dbo].[ChiPhiSuKien] ([ChiPhiID])
GO
ALTER TABLE [dbo].[ChiTietLichTrong]  WITH CHECK ADD FOREIGN KEY([LichTrongID])
REFERENCES [dbo].[LichTrong] ([LichTrongID])
GO
ALTER TABLE [dbo].[DangKySuKien]  WITH CHECK ADD FOREIGN KEY([SuKienID])
REFERENCES [dbo].[SuKien] ([SuKienID])
GO
ALTER TABLE [dbo].[DangKySuKien]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[NguoiDung] ([UserID])
GO
ALTER TABLE [dbo].[HoTroPhucLoi]  WITH CHECK ADD FOREIGN KEY([TreEmID])
REFERENCES [dbo].[TreEm] ([TreEmID])
GO
ALTER TABLE [dbo].[LichTrong]  WITH CHECK ADD FOREIGN KEY([TinhNguyenVienID])
REFERENCES [dbo].[TinhNguyenVien] ([TinhNguyenVienID])
GO
ALTER TABLE [dbo].[LopHoc]  WITH CHECK ADD FOREIGN KEY([TruongID])
REFERENCES [dbo].[TruongHoc] ([TruongID])
GO
ALTER TABLE [dbo].[PhanCongTinhNguyenVien]  WITH CHECK ADD FOREIGN KEY([SuKienID])
REFERENCES [dbo].[SuKien] ([SuKienID])
GO
ALTER TABLE [dbo].[PhanCongTinhNguyenVien]  WITH CHECK ADD FOREIGN KEY([TinhNguyenVienID])
REFERENCES [dbo].[TinhNguyenVien] ([TinhNguyenVienID])
GO
ALTER TABLE [dbo].[PhieuHocTap]  WITH CHECK ADD FOREIGN KEY([LopID])
REFERENCES [dbo].[LopHoc] ([LopID])
GO
ALTER TABLE [dbo].[PhieuHocTap]  WITH CHECK ADD FOREIGN KEY([TreEmID])
REFERENCES [dbo].[TreEm] ([TreEmID])
GO
ALTER TABLE [dbo].[PhieuHocTap]  WITH CHECK ADD FOREIGN KEY([TruongID])
REFERENCES [dbo].[TruongHoc] ([TruongID])
GO
ALTER TABLE [dbo].[PhieuMinhChung]  WITH CHECK ADD FOREIGN KEY([HoTroID])
REFERENCES [dbo].[HoTroPhucLoi] ([HoTroID])
GO
ALTER TABLE [dbo].[SuKien]  WITH CHECK ADD FOREIGN KEY([KhuPhoID])
REFERENCES [dbo].[KhuPho] ([KhuPhoID])
GO
ALTER TABLE [dbo].[SuKien]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[NguoiDung] ([UserID])
GO
ALTER TABLE [dbo].[ThoiGianChiTietSuKien]  WITH CHECK ADD FOREIGN KEY([SuKienID])
REFERENCES [dbo].[SuKien] ([SuKienID])
GO
ALTER TABLE [dbo].[ThongBao]  WITH CHECK ADD FOREIGN KEY([SuKienID])
REFERENCES [dbo].[SuKien] ([SuKienID])
GO
ALTER TABLE [dbo].[ThongBao_NguoiDung]  WITH CHECK ADD FOREIGN KEY([ThongBaoID])
REFERENCES [dbo].[ThongBao] ([ThongBaoID])
GO
ALTER TABLE [dbo].[ThongBao_NguoiDung]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[NguoiDung] ([UserID])
GO
ALTER TABLE [dbo].[ThongTinPhuHuynh]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[NguoiDung] ([UserID])
GO
ALTER TABLE [dbo].[TietMucSuKien]  WITH CHECK ADD FOREIGN KEY([ThoiGianChiTietSuKienID])
REFERENCES [dbo].[ThoiGianChiTietSuKien] ([ThoiGianChiTietSuKienID])
GO
ALTER TABLE [dbo].[TinhNguyenVien]  WITH CHECK ADD FOREIGN KEY([KhuPhoID])
REFERENCES [dbo].[KhuPho] ([KhuPhoID])
GO
ALTER TABLE [dbo].[TinhNguyenVien]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[NguoiDung] ([UserID])
GO
ALTER TABLE [dbo].[TreEm]  WITH CHECK ADD FOREIGN KEY([KhuPhoID])
REFERENCES [dbo].[KhuPho] ([KhuPhoID])
GO
ALTER TABLE [dbo].[TreEm]  WITH CHECK ADD FOREIGN KEY([TruongID])
REFERENCES [dbo].[TruongHoc] ([TruongID])
GO
ALTER TABLE [dbo].[TreEm_HoanCanh]  WITH CHECK ADD FOREIGN KEY([HoanCanhID])
REFERENCES [dbo].[HoanCanh] ([HoanCanhID])
GO
ALTER TABLE [dbo].[TreEm_HoanCanh]  WITH CHECK ADD FOREIGN KEY([TreEmID])
REFERENCES [dbo].[TreEm] ([TreEmID])
GO
ALTER TABLE [dbo].[TreEm_PhuHuynh]  WITH CHECK ADD FOREIGN KEY([PhuHuynhID])
REFERENCES [dbo].[ThongTinPhuHuynh] ([PhuHuynhID])
GO
ALTER TABLE [dbo].[TreEm_PhuHuynh]  WITH CHECK ADD FOREIGN KEY([TreEmID])
REFERENCES [dbo].[TreEm] ([TreEmID])
GO
ALTER TABLE [dbo].[TreEm_SuKien]  WITH CHECK ADD FOREIGN KEY([SuKienID])
REFERENCES [dbo].[SuKien] ([SuKienID])
GO
ALTER TABLE [dbo].[TreEm_SuKien]  WITH CHECK ADD FOREIGN KEY([TreEmID])
REFERENCES [dbo].[TreEm] ([TreEmID])
GO
ALTER TABLE [dbo].[UngHo]  WITH CHECK ADD FOREIGN KEY([ManhThuongQuanID])
REFERENCES [dbo].[ManhThuongQuan] ([ManhThuongQuanID])
GO
ALTER TABLE [dbo].[UngHo_HoTroPhucLoi]  WITH CHECK ADD FOREIGN KEY([HoTroID])
REFERENCES [dbo].[HoTroPhucLoi] ([HoTroID])
GO
ALTER TABLE [dbo].[UngHo_HoTroPhucLoi]  WITH CHECK ADD FOREIGN KEY([UngHoID])
REFERENCES [dbo].[UngHo] ([UngHoID])
GO
ALTER TABLE [dbo].[UngHo_TreEm]  WITH CHECK ADD FOREIGN KEY([TreEmID])
REFERENCES [dbo].[TreEm] ([TreEmID])
GO
ALTER TABLE [dbo].[UngHo_TreEm]  WITH CHECK ADD FOREIGN KEY([UngHoID])
REFERENCES [dbo].[UngHo] ([UngHoID])
GO
ALTER TABLE [dbo].[VanDongTreEm]  WITH CHECK ADD FOREIGN KEY([HoanCanhID])
REFERENCES [dbo].[HoanCanh] ([HoanCanhID])
GO
ALTER TABLE [dbo].[VanDongTreEm]  WITH CHECK ADD FOREIGN KEY([NguoiDungID])
REFERENCES [dbo].[NguoiDung] ([UserID])
GO
ALTER TABLE [dbo].[VanDongTreEm]  WITH CHECK ADD FOREIGN KEY([TreEmID])
REFERENCES [dbo].[TreEm] ([TreEmID])
GO
